<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-defensivecache" value="C:\Projetos\github\DefensiveCache\CoreApp.DefensiveCache\bin\Release" />
    <add key="nuget-defensivecache-generator" value="C:\Projetos\github\DefensiveCache\CoreApp.DefensiveCache.Generator\Release" />
  </packageSources>
</configuration>
